# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled libraries
/*.dll
/*.lib
/*.ilk
/*.exp
/*.pdb
# Executables
/*.exe

# Emacs backup files
**/*~

